.cosmic-bg {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  width: 1600px;
  top: 0;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);

}

.cosmic-bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: none;
}
